In [1]:
import pandas as pd

In [2]:
# pandas基础数据类型
# series
list1 = [1,2,3,4,5]
pd.Series(list1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
dict1 = {'a':1,'b':2,'c':3}
s1 = pd.Series(dict1)
s1

a    1
b    2
c    3
dtype: int64

In [4]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [5]:
s1.values

array([1, 2, 3])

In [6]:
# dataframe
# dataframe是一个二维的表格数据结构，每列可以是不同的类型
# 可以从列表、字典、Series等数据结构创建DataFrame
# 从列表创建DataFrame
list2 = [[1,2,3],[4,5,6],[7,8,9]]
df1 = pd.DataFrame(list2)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
# 字符转义
# 当字符串中包含特殊字符时，需要使用转义字符来表示
# 例如，换行符\n、制表符\t等
# 可以在字符串前添加r或R来表示原始字符串，避免转义字符的解释
s3 = R'hello\nworld'
print(s3)

hello\nworld

In [10]:
# 使用padas读取数据文件
# 读取Excel文件
df2 = pd.read_excel(R'data\xls\24news1.xlsx')
df2.head(3)

c:\Users\yangjh\Desktop\repo\24news1\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

           学号    姓名   专业          班级
0  P241012250  白玛央金  新闻学  2024级新闻学1班
1  P241012251   蔡召宇  新闻学  2024级新闻学1班
2  P241012254   鄂德超  新闻学  2024级新闻学1班

In [11]:
# 使用pandas读取csv文件
df3 = pd.read_csv(R'data\csv\600519.csv')
df3.head(3)

         day  STOCK_CODE   open  close  maximum  minimum  volume    TURNOVER
0  2001/8/27     6005191  34.51  35.55    37.78    32.85  406318  1410347008
1  2001/8/28     6005191  34.99  36.86    37.00    34.61  129647   463463008
2  2001/8/28     6005191  34.99  36.86    37.00    34.61  129647   463463008

In [13]:
# 使用pandas读取spss格式数据文件
df4 = pd.read_spss(R'data\sav\测试成绩.sav')
df4.head(3)

,编号,开始答题时间,结束答题时间,答题时长,Q1_填空1,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,总得分,最后一个基本个案
0,155.0,20-Jun-2023 15:02:13,20-Jun-2023 15:03:01,48.0,P201212152,30px,transform: scale(0.5);,ul li:last-child,红色,/* comment */,缺少content属性,text-opacity,ul li:nth-child(3),以上都对,B,100,主个案
1,194.0,20-Jun-2023 15:15:15,20-Jun-2023 15:16:23,68.0,P201212142,30px,transform: scale(0.5);,ul li:last-child,红色,/* comment */,缺少content属性,text-opacity,ul li:nth-child(3),以上都对,B,100,主个案
2,195.0,20-Jun-2023 15:17:09,20-Jun-2023 15:17:42,33.0,P201212158,30px,transform: scale(0.5);,ul li:last-child,红色,/* comment */,缺少content属性,text-opacity,ul li:nth-child(3),以上都对,B,100,主个案

In [16]:
# 读取pdf格式中的表格
import pdfplumber

pdf = pdfplumber.open(R'data\pdf\高考核心词汇1278.pdf')

table = []
# len(pdf.pages)获取全部pdf页数；
for i in range(len(pdf.pages) - 1):
    # 通过循环逐页读取当前页面中的表格；
    page = pdf.pages[i + 1]
    table.extend(page.extract_table())
# 将表格转化为Pandas中的`DataFrame`。
table1_df = pd.DataFrame(table[2:])
table1_df.head(2)

,0,1,2,3,4,5,6,7
0,1,None,a(an),[ə] 、 [ən],art. 一（个，件）,"An hour ago, a European bought an\nMP3.",1 小时前，一位欧洲人买了一个 MP3。,None
1,2,None,abandon,[əˈbændən],vt.放弃，抛弃;,He abandoned his wife and children\nand went a...,他抛妻弃子，并带走了所有的钱。,None

In [17]:
# 使用pandas将dataframe保存为csv文件
table1_df.to_csv(R'output/dict.csv', index=False)

# 本周作业

1. 练习pandas读写数据
2. 将课程仓库（含平时测试的workspace文件夹）上传到自己的gitee仓库中